html
{
   
   background-color: #ffffff;
    margin: 1%; 
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}


.container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.form-container  {
    width: 50%;
    padding: 20px; 
    box-sizing: border-box;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4dec4;
}

.logo {
    width: 100px;
    height: auto;
    margin: 1%;
    margin-top: 20px;
 /*    margin-bottom: 20px; */
}

h2 {
    text-align: left;
    color: #6b3f16;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #6b3f16;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
    border-color: #962f06;
    outline: none;
}

.terms {
    display: flex;
    align-items: center;
}

.terms input {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #b55529;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #a4441e;
}   
.image-container{
    width: 100%;
}
.image-container img {
    width: 50%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #999;
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    width: 100%;
}