*{
    box-sizing: border-box;
}
.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 200px;
    font-style: normal;
  }

html
{
    font-family:  "Titan One", sans-serif;
    font-size: 25px;
   /*  background-color: #fdcae1a9; */
   background-color: #ebe7e942;
    margin: 1%;
     
}


body

{
    background-image: url(images/desayunopruebafondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 ;
    background-attachment: fixed;/* esto lo usamos para que la imagen se quede quieta en el fondo y podamos mover la letras o todo el contenido sin mover el fondo */

}

header,footer

{
    
    color:  rgb(145, 82, 58);
    background-color: #fdcae180;
    display:flex;
}

header h1{
    margin-left: 30px;
}


.logo img{
    
    width: 85px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
}

nav{
    background-color: rgb(255, 160, 122);
    display: flex;
    padding: 15px;
}

nav a
{   color: #ebe7e9;
    background-color:rgba(255, 160, 122, 0.075);
    padding: 10px;
    margin-top: 20px;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 25px;
}

nav a:hover{background-color: #eb8e71cc;}

.search-container {
    margin-top: 25px;
    text-align: center;
    margin-left: 50px;
  }
  
  input[type="text"] {
    padding: 7px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 40px;
  }
  
  button {
    padding: 15px 50px;
    background-color:rgba(216, 98, 51, 0.897);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgba(122, 38, 5, 0.897);
  }



img{ width: 100%;}


.row{
    
   
    display:flex;

}
.izquierda{
    color: rgba(216, 98, 51, 0.897);
    background-color: rgba(247, 213, 164, 0.726);
    width: 60%;
    
    
}
.izquierda p{
    font-size: 20px;
    word-spacing: 7px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
.derecha{
 
     width: 40%;  
     background-color: rgba(189, 84, 42, 0.925);
     
}
.derecha img{
    border-radius: 65%;
    width: 90%;
    height: 95%;
    margin-top: 10px;
    margin-left: 25px;
    
}
.rowdos{
    display: flex;
}

.derechados{
    color: rgba(226, 133, 79, 0.897);
    background-color:  rgb(255, 255, 255);
    width: 60%;
}
.derechados p{

    word-spacing: 5px;
    text-align: center;
    margin-left: -13px;
    margin-right: 81px;
}
.izquierdados{
    color: rgba(189, 84, 42, 0.897);
    background-color: rgb(255, 255, 255);
    width: 60%;}

.izquierdados img{

    width: 70%;
    margin-left: 100px;
}
.caja2 {
    position: relative;
    width: 100%; /* O ajusta el ancho según tus necesidades */
    padding-top: 54%; /* Proporción de aspecto (alto/ancho) */
    background-color: rgba(189, 84, 42, 0.925);
    overflow: hidden; /* Para asegurarse de que la imagen no sobresalga */
}
    .caja2 h3{
        word-spacing: 5px;
        text-align: justify;
        color: white;
        margin-top: -52%;
        margin-left: 30%;
        font-size: 40px;
        

    }
    .caja2 .pfdolar{
        word-spacing: 10px;
        font-size: 20px;
        color: white;
        text-align: center;
        position: absolute;
        top: 56%;
        left: 16%;
        width: 150px;
        height: auto;
        display: block;
        

}
    .caja2 .pfmoto{
        word-spacing: 5px;
        font-size: 20px;
        color: white;
        text-align: center;
        position: absolute;
        top: 56%;
        left: 45%;
        width: 150px;
        height: auto;
        display: block; 
}

    .caja2 .pfescudo{
   
        word-spacing: 5px;
        font-size: 20px;
        color: white;
        text-align: center;
        position: absolute;
        top: 56%;
        left: 75%;
        width: 150px;
        height: auto;
        display: block; 
}

.caja2 .imagen1 {
    position: absolute;
    top: 35%;
    left: 20%;
    width: 3.5%;
    height: auto;
    display: block;
    
}

    .caja2 .imagen2 {
        position: absolute;
        top: 34%;
        left: 48%;
        width: 7%;
        height: auto;
        display: block;
        
    
    }    
        .caja2 .imagen3 {
            position: absolute;
            top: 37%;
            left: 78%;
            width: 5%;
            height: auto;
            display: block;
            
        }


 .rowtres{
                display: flex;
                
            }
            
            .derechatres{
                color: rgba(226, 133, 79, 0.897);
                background-color:  rgb(255, 255, 255);
                width: 50%;
                 
                
            }
            .derechatres video{
                
                width  :49%;
                height: 92%;
                object-fit: cover;
                position: absolute;
                margin-left: 0%;
                
            }
            .izquierdatres{
                color: rgba(189, 84, 42, 0.897);
                background-color: rgb(255, 255, 255);
                width: 50%;
              
            }

            .izquierdatres .imgpc1{
                position: relative;
                width: 150px;
                height: auto;
                border-radius: 100%;
                margin-top: 90px;
                margin-left: 40px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.808);
            }

            .izquierdatres .imgpc2{
                position: relative;
                width: 150px;
                height: auto;
                border-radius: 100%;
                margin-top: 45px;
                margin-left: 40px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.808);
            }
            .derechatres .pflupa1{

                word-spacing: 5px;
                font-size: 20px;
                color: rgba(224, 102, 20, 0.863);
                text-align: center;
                position: absolute;
                top: 56%;
                left: 45%;
                width: 150px;
                height: auto;
                display: block; 


            }


            
            
 .caja3 {
 position: relative;
 width: 100%; /* O ajusta el ancho según tus necesidades */
 padding-top: 54%; /* Proporción de aspecto (alto/ancho) */
 background-color: rgba(189, 84, 42, 0.897);
 overflow: hidden; /* Para asegurarse de que la imagen no sobresalga */
  }


  .caja3 h3{
    word-spacing: 10px;
    text-align: justify;
    color: white;
    margin-top: -52%;
    margin-left: 37%;
    font-size: 40px;
}


.pie-de-pagina {
    background-color: #160802b2;
    color: #fff;
    padding: 20px ;
    /* position: fixed; */
    width: 100%;

}

.pie-de-pagina .contenedor {
    padding-top: 26%; 
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   font-size: 20px;
}

.pie-de-pagina p {
    margin: 0;
}

.pie-de-pagina nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.pie-de-pagina nav ul li {
    margin-left: 30px;
}

.pie-de-pagina nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.pie-de-pagina nav ul li a:hover {
    color: #ddd;
}